body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
    gap: 1rem;
}

.logo p {
    color: #F9FAF8;
    font-family: system-ui;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    margin-left: 200px;
}

.links {
    display: flex;
    gap: 1rem;
    padding-right: 30px;
}

.links a {
    color: #E5E7EB;
    font-family: system-ui;
    font-size: 18px;
    text-decoration: none;
}

.container1 {
    display: flex;
    justify-content: row;
    background-color: #1F2937;
    margin: 0;
    padding-left: 172px;
    color: #F9FAF8;
    font-family: system-ui;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 1rem;
}

.left .info {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}

.left button {
    background-color: #3B82F6;
    font-weight: bold;
    color: #F9FAF8;
    padding: 10px 30px;
    font-size: large;
    border-radius: 8px;
    border: 0px;
}

.right img {
    margin-left: 130px;
    padding: 34px 80px 34px 34px;
    height: 300px;
    width: auto;
}

.container2 {
    text-align: center;
    margin-left: 150px;
}

.container2 p {
    font-size: 36px;
    font-weight: x-bold;
    color: #1F2937;
    font-family: system-ui;    
}

.container2 .subcontainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 50px;
}

.container2 .subcontainer .subholder {
    background-color: #F9FAF8;
    padding: 20px;
    border-radius: 16px;
    width: 175px;
    height: 175px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 3px solid #3882F9;
}

.info p {
    font-size: 18px;
    font-family: system-ui;
}