body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
    gap: 1rem;
}

.logo p {
    color: #F9FAF8;
    font-family: system-ui;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    margin-left: 200px;
}

.links {
    display: flex;
    gap: 1rem;
    padding-right: 30px;
}

.links a {
    color: #E5E7EB;
    font-family: system-ui;
    font-size: 18px;
    text-decoration: none;
}

.container1 {
    display: flex;
    justify-content: row;
    background-color: #1F2937;
    margin: 0;
    padding-left: 172px;
    color: #F9FAF8;
    font-family: system-ui;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 1rem;
}

.left .info {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}

.left button {
    background-color: #3B82F6;
    font-weight: bold;
    color: #F9FAF8;
    padding: 10px 30px;
    font-size: large;
    border-radius: 8px;
    border: 0px;
}

.right img {
    margin-left: 130px;
    padding: 34px 80px 34px 34px;
    height: 300px;
    width: auto;
}

.container2 {
    text-align: center;
    margin-left: 150px;
}

.container2 p {
    font-size: 36px;
    font-weight: x-bold;
    color: #1F2937;
    font-family: system-ui;    
}

.container2 .subcontainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 50px;
}

.container2 .subcontainer .subholder {
    background-color: #F9FAF8;
    padding: 20px;
    border-radius: 16px;
    width: 175px;
    height: 175px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 3px solid #3882F9;
}

.info p {
    font-size: 18px;
    font-family: system-ui;
}

.container3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.container3 .p1 {
    font-family: system-ui;
    font-size: 36px;
    font-weight: 150;
    opacity: 0.7;
    font-style: italic;
    padding: 50px;
    padding-bottom: 0;
    margin-left: 150px;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
}

.container3 .p2 {
    color: #1F2937;
    font-family: system-ui;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    justify-content: end;
    padding-right: 275px;
    margin-bottom: 75px;
}

.miniSignup {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 75px;
}

.miniSignup div {
    background-color: #3882F9;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
    padding: 15px 30px;
}

.miniSignup div .left {
    display: flex;
    flex-direction: column;
}

.miniSignup div .left .p1 {
    color: #F9FAF8;
    font-family: system-ui;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.miniSignup div .left .p2 {
    color: #F9FAF8;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}

.miniSignup div .right button {
    display: flex;
    justify-content: center;
    background-color: #3B82F6;
    font-weight: bold;
    color: #F9FAF8;
    font-family: system-ui;
    font-size: large;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    margin-top: 35px;
    gap: 1rem
}